@model List<Person>

<h1>Details about a list of People</h1>
<h4>@ViewBag.TextoDescricao</h4>

@foreach (var person in Model)
{
    <p>Id: @person.Id</p>
    <p>Name: @person.Name</p>
    <p>Surname: @person.Surname</p>
    <p>Birthdate: @person.BirthDate</p>
    <hr/>
}

<p>
    DATE TIME: @ViewData["DataAtual"];
</p>
