@model Person

<h1>Create User</h1>

@* 
asp-action Determina a 'action' que vai manipular o form
asp-controller Determina o 'controller' que vai manipular o form (PeopleController -> Escrevemos 'People')
*@


<form asp-action="CreateUser" asp-controller="People" method="post">

    <label>Name:</label>
    <input type="text" asp-for="Name"/>
    <span asp-validation-for="Name" style="color:red"></span>

    <br />

    <label>Surname:</label>
    <input type="text" asp-for="Surname" />
    <span asp-validation-for="Surname" style="color:red"></span>

    <br/>

    <label>Birth Date:</label>
    <input type="date" asp-for="BirthDate" />
    <span asp-validation-for="BirthDate" style="color:red"></span>

    <br />

    <button type="submit">Create</button>
</form>








@* @using (Html.BeginForm("CreateUser", "People", FormMethod.Post))
{
    <div>
        @Html.LabelFor(Model => Model.Name)
        @Html.TextBoxFor(Model => Model.Name)
    </div>

    <div>
        @Html.LabelFor(Model => Model.Surname)
        @Html.TextBoxFor(Model => Model.Surname)
    </div>
    <br/>
    <button type="submit">Cadastrar</button>
}

@Html.ActionLink("Home", "Index", "Home"); *@